{% extends "layout.html" %}

{% block content %}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>

<div class="container">
    <form method="POST">
    {{ select.csrf_token }}
    {{ select.tag.label }} <br>{{ select.tag }}<br>
    <br>
    <input type="submit" value="Показать">
</form>
</div>
{% if selected %}
<div id="chartdiv" style="width: 100%; height: 500px"></div>
<div class="container">
     <table border="1" align="center" cellpadding="7" width="70%">
         <caption>Tags</caption>
         <tr align="center"><th align="center">tag_id</th><th align="center">date</th><th align="center">value</th></tr>
            {%for value in values%}
            <tr align="center">
                <td>{{ value.tag_id}}</td> <td >{{value.date}}</td><td >{{value.value}}</td>
            </tr>
            {% endfor%}
     </table>

</div>
<script>
 /**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 *
 * For more information visit:
 * https://www.amcharts.com/
 *
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

// Themes begin
am4core.useTheme(am4themes_material);
// Themes end

var chart = am4core.create("chartdiv", am4charts.XYChart);

var data = [];
var jsvalue = [];
{%for value in values%}
jsvalue.push({{ value.value }})
{% endfor %}

for(let i = 0; i < 20; i++){
  let date = new Date();
  date.setHours(0,0,0,0);
  date.setDate(i);
  data.push({date:date, value: jsvalue[i]});
}

chart.data = data;

// Create axes
var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.minGridDistance = 60;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "value";
series.dataFields.dateX = "date";
series.tooltipText = "{value}"

series.tooltip.pointerOrientation = "vertical";

chart.cursor = new am4charts.XYCursor();
chart.cursor.snapToSeries = series;
chart.cursor.xAxis = dateAxis;

//chart.scrollbarY = new am4core.Scrollbar();
chart.scrollbarX = new am4core.Scrollbar();
</script>
{% endif %}
{% endblock %}